
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #F2F2F2;
    color: #082B59;
    line-height: 1.6;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #131D26;
}

a {
    color: #D98555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #59331D;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #131D26;
}

.logo {
    height: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    color: #F2F2F2;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    display: block;
    transition: background 0.3s ease;
}

nav a:hover {
    background-color: #D98555;
    color: #131D26;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 40px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product h1 {
    flex: 1 1 100%;
    font-size: 24px;
}

.product p {
    flex: 1 1 55%;
}

.product-image {
    flex: 1 1 35%;
    max-width: 100%;
    height: auto;
    border: 5px solid #59331D;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}


.product img {
    max-width: 300px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #082B59;
    color: #F2F2F2;
    height: 100px;
}

footer a {
    margin: 0 10px;
    color: #D98555;
    text-decoration: none;
}

footer a:hover {
    color: #131D26;
    text-decoration: underline;
}
